@{
    ViewBag.Title = "Home Page";
}


    <div id="carousel-example-generic" class="carousel slide carousel-fade" data-ride="carousel" style="width: 100%">
        <!-- Indicators -->
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="~/Content/Images/dash1.jpg" alt="...">
                <div class="carousel-caption">
                    <span>Never Stop</span>
                </div>
            </div>
            <div class="item">
                <img src="~/Content/Images/dash2.jpg" alt="...">
                <div class="carousel-caption">
                    <span>We Learn!</span>
                </div>
            </div>
            <div class="item">
                <img src="~/Content/Images/dash3.jpg" alt="...">
                <div class="carousel-caption">
                    <span>Win</span>
                </div>
            </div>
        </div>

    </div>


<div class="row">
    <div class="col-md-6">
        <h2>Courses</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p class="btn btn-default">
            @Html.ActionLink("Courses", "Index", "Courses")
        </p>
    </div>
    <div class="col-md-6">
        <h2>Students</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p class="btn btn-default">@Html.ActionLink("Students", "Index", "Students")</p>
    </div>
</div>